.container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.container div:first-child {
    flex: 0 0 60%;
    padding: 0 0.5rem 0 0.5rem;
    overflow-y: auto;
}

.container div:last-child {
    flex: 1;
    height: calc(100vh - 75px);
    background-color: aliceblue;
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
    overflow: hidden;
}