.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 3em;
    height: 3em;
    border-radius: 1rem;
    transition: margin-top 0.5s ease;
  }

  .hamburger span {
    height: 0.4rem;
    width: 80%;
    color: var(--anti-accent-color);
    background-color: var(--anti-accent-color);
    border-radius: 0.2rem;
    transition: transform 0.5s ease, opacity 0.2s ease;
  }

  .active {
    margin-top: 1rem;
  }

  .active span:nth-child(1) {
    transform: rotate(45deg) translate(0.4rem, 0.2rem);
  }

  .active span:nth-child(2) {
    transform: rotate(-45deg) translate(0.4rem, -0.2rem);
  }

  .active span:nth-child(3) {
    opacity: 0;
  }