.container {
    position: sticky;
    z-index: 2;
    top: 0;
}

.container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem 0.5rem 3rem;
    background-color: var(--accent-color);
    color: var(--anti-accent-color);
    height: 75px;
    box-sizing: border-box; /* Include padding and border in the element's total height */
    flex-shrink: 0; /* Prevent the nav from shrinking */

    transition: background-color 0.5s ease, color 0.5s ease;
}