.container {
  position: sticky;
  z-index: 2;
  top: 0;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem 0.5rem 3rem;
  background-color: var(--accent-color);
  color: var(--anti-accent-color);
  height: 75px;
  box-sizing: border-box;
  /* Include padding and border in the element's total height */
  flex-shrink: 0;
  /* Prevent the nav from shrinking */
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  transition: background-color 0.5s ease, color 0.5s ease;
}

@media (max-width: 975px) {
  .container nav {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}