.toggle {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 3em;
    height: 3em;
    transition: background-color 0.1s ease;
    border-radius: 1rem;
}

.toggle:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.toggle img {
    margin-top: 20%;
    filter: invert(1);
    height: 60%;
}

.toggle:hover {
    background-color: white;
}

.toggle:hover .icon {
    filter: invert(9%) sepia(54%) saturate(7228%) hue-rotate(266deg) brightness(110%) contrast(102%);
    animation: wiggle 0.5s forwards;
}