.default {
    --accent-color: #5114a1;
    --anti-accent-color: #ffffff;
    --svg-accent-filter: invert(15%) sepia(38%) saturate(6058%) hue-rotate(260deg) brightness(95%) contrast(111%);
    --text-color: #000000;
    --background-color: #ffffff;
    --highlight-color: #987acf;
}

.dark{
    --accent-color: #241F31;
    --anti-accent-color: #ffffff;
    --svg-accent-filter: invert(9%) sepia(35%) saturate(757%) hue-rotate(215deg) brightness(96%) contrast(90%);
    --text-color: #ffffff;
    --background-color: #2B2B2B;
    --highlight-color: #685bdf;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}